//* 
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Playfair Display', serif;
*//

.navbar {
    background-color: white;
    border : 1px solid black;
}

.navbar-brand{
    color:#fba362;
    font-family: 'Playfair Display', serif;
    
}

.navbar-nav{
    padding-right: 10px;
}

#cover{
    width: 450px;
    height: 730px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.card-deck{
    display: inline;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
   
}

.card{
    border-style: none;
}
