:root{
    --brandColor:#ff5112;
    --brandGrey:dimgray;
    --brandFontFamily:'Playfair Display', serif;
}

.navbar {
    background-color: white;
    border : 1px solid black;
}

.navbar-brand{
    color:var(--brandColor);
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    
}

.navbar-nav{
    padding-right: 10px;
}

#cover{
    max-width: 450px;
    max-height: 700px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#card-deck{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
   
}

.card{
    border-style: none;
}

#container3{
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}

#secLayer{
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

#secLayerLeft,
#whyContent{
    font-family: 'Lora', serif;
    line-height: 1.6;
    padding-top:30px;
    padding-bottom:5px;
    padding-left: 10px;
    color: dimgray;
    font-size: 24px;
    text-align: left;
}

#rationale{
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: sans-serif;
    font-size: 12px;
    color: var(--brandColor);
    margin-right: 20px;
    
}

#secLayerMiddle{
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

#rationale:hover{
    color: #82b9d1;
}
    
#secLayerRight{
    font-family: 'Playfair Display', serif;
    padding-top:70px;
    padding-bottom:10px;
    text-align: right;

}

#secLayerH2{
    color: var(--brandColor);
    font-size: 62px;  
}

#content{
    font-size: 26px;
    line-break: 1.4;
}


#container4{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

#card-deck2{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
    padding-left: 40px;
}

#thirdLayerLeft{
    color: dimgray;
    font-family: 'Playfair Display', serif;
    font-size: 92px;
    padding-top: 110px;
    padding-bottom: 10px

}

#more{
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: sans-serif;
    font-size: 12px;
    color: var(--brandColor);

}
#more:hover{
    color: #82b9d1;
}

.vl{
    border-left:2px solid dimgray;
    height: 200px;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
}

#displayphoto{
    max-width: 270px;
    max-height: 350px;
    padding-left: 10px
   
}

#thirdLayerRight{
    max-width: 300px;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

#container5{
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: grey;
}

#container7{
    display: flex;
}

#whyTitle{
    font-family: var(--brandFontFamily);
    color: dimgray;
    size: 60px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 40px;

}

#container7Left
{
    display: flex;
}

#container7RightUp{
    margin-top: 70px;
 

}

#container7RightDown{
    padding-top: 20px;
}

#whySecContent{
    font-family: 'Lora', serif;
    color: dimgray;
    font-size: 20px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    padding-right: 50px;
    line-break: 1.4;

}

#container9{
    display: flex;
    margin-top: 120px;
    margin-bottom: 60px;
}

#contanier9Left{
    max-width: 400px;
    padding-right: 40px;
    margin-left: 40px;
    margin-right: 70px;
}

#container9Middle{
    border-left:2px solid var(--brandGrey);
    height: 200px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#container9Right{
    display: flex;
    margin-left: 60px;
}

#container10{
    display: flex;
}

#sharingTitle{
    font-family: var(--brandFontFamily);
    color: dimgray;
    font-size: 56px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 40px;
    max-width: 400px;

}

#container10Right{
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 40px;
}

#horiLine{
    border: 1px solid;
    color: var(--brandColor);
    padding-top: 5px;
    padding-bottom: 5px;
}

#word1{
    padding-bottom: 0px;
}


@media screen and (max-width:1400px){
    #secLayerMiddle{
        margin-left: 20px;
        margin-right: 20px;
    }
    
}
@media screen and (max-width:1199px){
    #secLayerLeft,
    #whyContent{
        font-size: 20px;
    }
    #secLayerMiddle{
        display: none;
    }
    #secLayerH2{
        font-size: 45px;
    }
    #content{
        font-size: 20px;
    }

    #whySecContent{
        font-size: 16px;
    }

    #container9Right{
        margin-left: 40px;
    }
    
}

@media screen and (max-width:991px){
    #secLayer{
        max-width: 350px;
    }

    #secLayerLeft{
        padding-right: 1px;
        max-width: 400px;
    }

    #secLayerMiddle,
    #container9Middle{
        display: none;
    }
    #secLayerH2{
        font-size: 35px;
    }
    #content,
    #whyContent{
        font-size: 16px;
    }
    
    #card-deck2{
        padding-left: 10px;
        padding-right: 10px;
    }

    #thirdLayerRight{
        padding-left: 1px;
        padding-right:1px;
    }

    #displayphoto{
        max-width: 190px;
        max-height: 300px;
    }

    #container9{
        margin-top: 70px;
    }

    #whySecContent{
        margin-top: 40px;
    }

    #contanier9Left{
        margin-right: 40px;
    }

    #whySecContent {
        font-size: 17px;
        padding-top: 50px;
        padding-right:10px
    }
}

@media screen and (max-width: 767px) {

    #secLayer{
        max-width: 326px;
    }

    #secLayerLeft{
        font-size: 15px;
        padding-right: 1px;
        max-width: 400px;
    }

    #secLayerMiddle{
        display: none;
    }

    #secLayerH2{
        font-size: 30px;
    }

    #content{
        font-size: 13px;
    }

    .vl{
        display: none;
    }

    #whyTitle{
        size: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #container7{
        flex-wrap: wrap;
    }

    #container7RightUp{
        display: none;
    }

    #whySecContent{
        padding-top:20px ;
        margin-top: 10px;
        font-size: 13px;}

    #container9{
        margin: 10px 50px 20px 60px;
        padding-right: 0px;

    }

    #container9Right{
        margin-left: 10px;
    }

    #container9Left{
        margin-right:10px;
        padding-right: 10px;

    }

  }
  
  @media screen and (max-width: 575px) {

    #secLayer{
        max-width: 303px;
    }

    #secLayerLeft{
        font-size: 12px;
        padding-right: 1px;
        max-width: 303px;
    }

    #secLayerMiddle{
        display: none;
    }

    #secLayerH2{
        font-size: 20px;
    }

    #content{
        font-size: 9px;
    }

    .vl{
        display: none;
    }

    #displayphoto{
        max-width: 170px;
        max-height: 250px;
    }

    #container7Left{
        margin-left: 30px;
    }

    #whySecContent{
        font-size: 13px;
    }

    #container9{
        margin: 10px 50px 20px 20px;
        padding-right: 0px;

    }

    #container9Left{
        max-width: 100px;
    }


  }



  
  @media screen and (max-width: 485px) {
    #card-deck2{
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #thirdLayerLeft{
        font-size: 30px;
        padding-top: 30px;
    }

    #secLayerH2{
        font-size: 15px;
    }

    #secLayer{
        max-width: 210px;
    }
    
    #whyTitle{
        padding: 10px 10px 10px 10px ;
    }

    #whySecContent{
        padding-left: 10px;
        font-size: 10px;
    }

    #container9Right{
        margin-right: 10px;
    }
  }