:root{
    --brandColor:#ff5112;
}

.navbar {
    background-color: white;
    border : 1px solid black;
}

.navbar-brand{
    color:var(--brandColor);
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    
}

.navbar-nav{
    padding-right: 10px;
}

#cover{
    max-width: 450px;
    max-height: 700px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.card-deck{
    display: inline;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1440px;
   
}

.card{
    border-style: none;
}

.container3{
    display: flex;
    justify-content: space-between;
}

#secLayer{
    max-width: 500px;
}

#secLayerLeft{
    font-family: 'Lora', serif;
    line-height: 1.6;
    padding-top:30px;
    padding-bottom:5px;
    padding-left: 50px;
    color: dimgray;
    font-size: 24px;
}

#rationale{
    display: flex;
    justify-content: right;
    align-items: right;
    font-family: sans-serif;
    font-size: 16px;
    color: var(--brandColor);
    
}

#rationale:hover{
    color: #82b9d1;
}
    
#secLayerRight{
    font-family: 'Playfair Display', serif;
    padding-top:70px;
    padding-bottom:10px;
    padding-right: 50px;
    text-align: right;

}

#secLayerH2{
    color: var(--brandColor);
    font-size: 62px;  
}

#content{
    font-size: 26px;
    line-break: 1.4;
}


#card-deck2{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#thirdLayerLeft{
    color: dimgray;
    font-family: 'Playfair Display', serif;
    font-size: 62px;
    padding-top: 70px;
    padding-bottom: 30px

}
.vl{
    border-left:2px solid dimgray;
    height: 200px;
}

#displayphoto{
    max-width: 250px;
    max-height: 330px;
    padding-left: 10px
   
}

#thirdLayerRight{
    max-width: 300px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

